@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
import * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./assets/subtle-prism.svg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Raleway", sans-serif;
  overflow-y: auto;
}

a {
  text-decoration: none !important;
  color: inherit;
}
