@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
}

body {
  background-image: url("./assets/subtle-prism.svg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Raleway", sans-serif;
  overflow-y: auto;
}

a {
  text-decoration: none !important;
  color: inherit;
}
